<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body class="u-scroll-main">
    <header class="c-site-header">
      <div class="u-split u-clamp-width">
      <a href="/">Direct Force Field</a>
      <nav class="c-action-links">
        <a href="/desktop">Desktop</a>
        <a href="/web">Web</a>
        <a href="/support">Support</a>
      </nav>
      </div>
    </header>
    <div>
      <main class="u-clamp-width">
        <nav class="c-breadcrumb">
          {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml | safe }}
        </nav>
        {{ content | safe }}
      </main> 
    </div>
  </body>
</html>